/* body{
  font-family: "Comfortaa";
}
main {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.primary-info{
  display: flex;
  align-items: center;
}

.primary-info img {
  width: 15em;
  height: 15em;
  margin: 2em;
  border-radius: 50%;
}



ul {
  display: flex;
  align-items: flex-start;
  position: relative; 
  padding-inline-start: 0px;
  list-style-type: none; 
}

li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-right: 2em;
  position: relative; 
}

li a{
  color: black;
}

span {
  font-weight: bolder;
}

.education {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1em 2em;
}


.education p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.line{
  padding: 0.1em;
  background-color: #9fd790;
  margin: 0 2em;
}

.edu-infoblock{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 1em 0;
}

.experience {
  margin: 0 2em;
}

.skills {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 2em;
}

.skills li {
  margin-right: 0em;
  margin-left: 2em;
} */




body{
  font-family: "Comfortaa";
}

header{
  display: flex;
  justify-content: space-around;  
}
main {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.primary-info{
  display: flex;
  align-items: center;
}

.primary-info img {
  width: 15em;
  height: 15em;
  margin: 2em;
  border-radius: 50%;
}



ul {
  display: flex;
  align-items: flex-start;
  position: relative; 
  padding-inline-start: 0px;
  list-style-type: none; 
}

li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-right: 2em;
  position: relative; 
}

li a{
  color: black;
}

span {
  font-weight: bolder;
}

.education {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  padding: 1em 2em;
}


.education p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.line{
  padding: 0.1em;
  background-color: #9fd790;
  margin: 0 2em;
}

.edu-infoblock{
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  margin: 1em 0;
}

.experience {
  margin: 0 2em;
}

.skills {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  margin-left: 2em;
}

.skills li {
  margin-right: 2em;
  margin-left: 0em;
}