@import "reset.css";
@import "fonts.css";


header {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #EFEEF3;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.logo-icon {
    width: 30px;
    height: 30px;
}

.logo-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #16133D;
}

/*main{*/
/*    height: calc(100vh - 80px - 192px);*/
/*}*/

main .wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__title-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main__subtitle {
    font-family: 'Roboto', sans-serif;
    color: #7690A8;
    font-size: 16px;
    font-weight: 400;
}

.main__title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #16133D;
}

.main__cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.main__cards__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.main__cards__item__icons {
    position: relative;
    width: 39px;
    height: 36px;
    padding: 12px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
}

.main__cards__item__icon {
    position: absolute;
    width: 39px;
    height: 36px;
}
.main__cards__item .icon--hovered{
    display: none;
}

.main__cards__item:hover .icon--hovered{
    display: block;
}

.main__cards__item:hover .icon {
    display: none;
}

.main__cards__item__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main__cards__item__content__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.main__cards__item__content__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #16133D;
}

.main__cards__item__button {
    color: #3DB370;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

footer {
    background: #16133D;
}

footer .wrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer .logo-text {
    color: #FFFFFF;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-list__item {
    background: #EFEEF3;
    border-radius: 5px;
    height: 38px;
    width: 38px;
    display: grid;
    place-content: center;
}

.social-list__item__icon {
    height: 20px;
    width: 20px;
}

.social-list__item:hover .social-list__item__icon {
    fill: #3DB370;
}


 .social-list__item .social-list__item__icon{
     fill: #0D0D0D;
 }

 .main__cards__item:hover{
     border: 1px solid #3DB370;
     border-radius: 8px;
 }

