@import "reset.css";
@import "../assets/fonts/DeliosUnicase.css";

h1 {
    font-family: 'DeliosUnicase';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.05em;
    margin: 120px auto 80px;
    
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.photography-contaiter {
    width: 1170px;
    margin: 0 auto;
}

.photography-contaiter {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
}

.image--bordered {
    border-radius: 20px;
    transition: transform 0.25s;
}

.image--bordered:hover {
    transform: scale(1.01);
}

/* FIRST SECTION */
.architectural-image-placing2 {
    grid-area: 1 / 2 / span 1 / span 2;
}

.architectural-image-placing3 {
    grid-area: 2 / 1 / span 1 / span 2;
}


/* SECOND SECTION */
.still-life-image-placing2 {
    grid-area: 1 / 2 / span 1 / span 2;
}

.still-life-image-placing3 {
    grid-area: 2 / 1 / span 2 / span 2;
}

.still-life-image-placing5 {
    grid-area: 3 / 1 / span 1 / span 2;
}

/* THIRD SECTION */

.portrait-and-fashion-image-placing2 {
    grid-area: 1 / 2 / span 2 / span 1;
}

.portrait-and-fashion-image-placing5{
    grid-area: 2 / 3 / span 2 / span 1;
}

.portrait-and-fashion-image-placing6{
    grid-area: 3 / 1 / span 2 / span 1;

}

.portrait-and-fashion-image-placing9{
    grid-area: 6 / 1 / span 1 / span 2;
}

.portrait-and-fashion-image-placing10{
    grid-area: 6 / 3 / span 1 / span 1;
}