@import "reset.css";
@import "../assets/fonts/Montserrat.css";

body {
    font-family: 'Montserrat';
}

*{
    transition: all .1s ease-in;
}

header {
    height: 80px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}