@import "reset.css";
@import "../assets/fonts/Montserrat.css";
@import "../assets/fonts/Poppins.css";

body {
    font-family: 'Montserrat';
}

*{
    transition: all .1s ease-in;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav ul {
    display: flex;
    flex-direction: row;
}

.header__nav__item:not(:last-child) {
    margin-right: 20px;
}

.header__nav__item__link {
    color: #2F281E;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.header__nav__item__link:hover {
    color: #FF9900;
}

.button {
    width: 110px;
    height: 46px;
    background: #FF9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    color: #FFFFFF;
}

.button__bordered {
    border: 1px solid #BCD0E5;
    background-color: transparent;
    color: #2F281E;
}

.button__bigger {
    font-family: 'Poppins';
    width: 180px;
    height: 50px;
}